**Задание** 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

*   если источник traffic_source равен yandex или google, то в source_type ставится organic
*   для источников paid и email из России - ставим ad
*   для источников paid и email не из России - ставим other
*   все остальные варианты берем из traffic_source без изменений

In [1]:
import pandas as pd

In [2]:
from google.colab import files
uploaded= files.upload()

Saving visit_log.csv to visit_log.csv

In [3]:
logs = pd.read_csv('visit_log.csv', sep = ';')
logs.head(3)

    timestamp    visit_id  ...     user_id traffic_source
0  1549980692  e3b0c44298  ...  b1613cc09f         yandex
1  1549980704  6e340b9cff  ...  4c3ec14bee         direct
2  1549980715  96a296d224  ...  a8c40697fb         yandex

[3 rows x 6 columns]

In [4]:
def source_type(traffic_source):
    if traffic_source == 'yandex' or traffic_source == 'google':
        return 'organic' 
    if traffic_source == 'paid' and traffic_source == 'email' and region == 'Russia':
        return 'ad'
    if traffic_source == 'paid' and traffic_source == 'email' and region != 'Russia':
        return 'other'
    else:
        return traffic_source

In [5]:
logs['source_type'] = logs['traffic_source'].apply(source_type)
logs.sample(10)

        timestamp    visit_id  ... traffic_source source_type
11609  1550050055  cce663134c  ...         yandex     organic
12836  1550057259  6025c8d361  ...         google     organic
18101  1550089237  702ea1ebe1  ...          email       email
18512  1550091833  6a3ffe3863  ...         direct      direct
932    1549986272  cb973b51d6  ...         direct      direct
5169   1550011862  459a79b90b  ...           paid        paid
3483   1550001571  415b0391d6  ...          email       email
12730  1550056692  7cf6bebf67  ...         direct      direct
5192   1550012003  fc7fd2080f  ...         direct      direct
12043  1550052674  d96110e79b  ...           paid        paid

[10 rows x 7 columns]

**Задание** 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

1.   Прочитайте содержимое файла с датафрейм
2.   Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [6]:
import re
from IPython.display import HTML

In [7]:
from google.colab import files
uploaded= files.upload()

Saving URLs.txt to URLs.txt

In [13]:
urls = pd.read_csv('URLs.txt')#.style.set_properties(**{'text-align': 'left'})
urls

                                                  url
0                                             /world/
1                                            /latest/
2                                       /?updated=top
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[93 rows x 1 columns]

*Подскажите, пожалуйста, как сделать выравнивание по левому краю в таблице. Пробую применять .style, и он работает, но только если к urls не применять .head() и т.п.*

In [ ]:
urls[(urls['url'].str.contains('/\d{8}-'))].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

**Задание** 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [18]:
from google.colab import files
uploaded= files.upload()

Saving ratings.csv to ratings.csv

In [19]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [27]:
results = ratings.groupby('userId').agg({'timestamp': ['min', 'max', 'count']})
results[results['timestamp']['count'] > 100]
average_time = (results[('timestamp','max')] - results[('timestamp','min')]).mean()
print('Среднее время жизни пользователей:', round(average_time, 3))

Среднее время жизни пользователей: 17373661.004

**Задание** 4

Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).
Необходимо сформировать две таблицы:
таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
аналогичную таблицу по типам выручки с указанием адреса клиента

In [28]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [29]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [30]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [31]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

*   таблицу с тремя типами выручки для каждого client_id без указания адреса клиента

In [35]:
df1 = rzd.merge(auto, on='client_id', how='left').merge(air, on='client_id', how='left').fillna(0)
df1

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111         1093           0.0          0.0
1        112         2810           0.0          0.0
2        113        10283       57483.0          0.0
3        114         5774          83.0          0.0
4        115          981         912.0         81.0

*   аналогичную таблицу по типам выручки с указанием адреса клиента

In [36]:
df2 = client_base.merge(auto, on='client_id', how='left').merge(air, on='client_id', how='left').merge(rzd, on='client_id', how='left').fillna(0)
df2

   client_id          address  auto_revenue  air_revenue  rzd_revenue
0        111  Комсомольская 4           0.0          0.0       1093.0
1        112   Энтузиастов 8а           0.0          0.0       2810.0
2        113  Левобережная 1а       57483.0          0.0      10283.0
3        114          Мира 14          83.0          0.0       5774.0
4        115        ЗЖБИиДК 1         912.0         81.0        981.0
5        116    Строителей 18        4834.0          4.0          0.0
6        117  Панфиловская 33          98.0         13.0          0.0
7        118     Мастеркова 4           0.0        173.0          0.0