In [14]:
from datetime import datetime
from datetime import timedelta

**Задание 1**

Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime: 

*   The Moscow Times - Wednesday, October 2, 2002 
*   The Guardian - Friday, 11.10.13 
*   Daily News - Thursday, 18 August 1977

In [15]:
The_Moscow_Times = datetime.strptime('Wednesday, October 2, 2002', '%A, %B %w, %Y')
The_Moscow_Times

datetime.datetime(2002, 10, 1, 0, 0)

In [16]:
The_Guardian = datetime.strptime('Friday, 11.10.13', '%A, %d.%m.%y')
The_Guardian

datetime.datetime(2013, 10, 11, 0, 0)

In [17]:
Daily_News = datetime.strptime('Thursday, 18 August 1977', '%A, %d %B %Y')
Daily_News

datetime.datetime(1977, 8, 18, 0, 0)

**Задание 2**

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [18]:
stream = ['2018-19-02','2018-04-02', '2018-02-21']

In [19]:
def validate(date):
    try:
        datetime.strptime(date, '%Y-%m-%d')
        return True
    except:
        return False

In [20]:
def main(date):
    validate_list =[]
    for i in date:   
            validate_list.append(validate(i))
    return validate_list

main(stream)

[False, True, True]

**Задание 3**

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [21]:
def date_range(start_date, end_date):
    
    empty_list = []
    
    if validate(start_date) == True and validate(end_date) == True:  
        
        start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
        end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')
        total_days = (end_date_dt - start_date_dt).days + 1 
        day_list = []
    
        if start_date_dt < end_date_dt:
            
            for day_number in range(total_days):
                current_date = (start_date_dt + timedelta(day_number))
                day_list.append(current_date.strftime('%Y-%m-%d'))
            return day_list
        
        else:
            return day_list
    else:
        return empty_list
        
date_range('2021-10-28','2021-11-04')

['2021-10-28',
 '2021-10-29',
 '2021-10-30',
 '2021-10-31',
 '2021-11-01',
 '2021-11-02',
 '2021-11-03',
 '2021-11-04']