In [3]:
import pandas as pd

In [125]:
from google.colab import files
uploaded= files.upload()

Saving ratings.csv to ratings.csv

**Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

**Решение 1.1**

In [127]:
df2 = pd.read_csv('ratings.csv')

def ocenka(rating):
  if rating >= 4.5:
    return 'Высокий'
  elif 2 < rating <= 4:
    return 'Средний'
  elif rating <= 2:
    return 'Низкий' 

df2['class'] = df2['rating'].apply(ocenka)
df2.head(20)

    userId  movieId  rating   timestamp    class
0        1       31     2.5  1260759144  Средний
1        1     1029     3.0  1260759179  Средний
2        1     1061     3.0  1260759182  Средний
3        1     1129     2.0  1260759185   Низкий
4        1     1172     4.0  1260759205  Средний
5        1     1263     2.0  1260759151   Низкий
6        1     1287     2.0  1260759187   Низкий
7        1     1293     2.0  1260759148   Низкий
8        1     1339     3.5  1260759125  Средний
9        1     1343     2.0  1260759131   Низкий
10       1     1371     2.5  1260759135  Средний
11       1     1405     1.0  1260759203   Низкий
12       1     1953     4.0  1260759191  Средний
13       1     2105     4.0  1260759139  Средний
14       1     2150     3.0  1260759194  Средний
15       1     2193     2.0  1260759198   Низкий
16       1     2294     2.0  1260759108   Низкий
17       1     2455     2.5  1260759113  Средний
18       1     2968     1.0  1260759200   Низкий
19       1     3671     3.0  1260759117  Средний

**Решение 1.2**

In [129]:
df2['class']  = df2['rating'].apply(lambda rating: 'Высокий' if (rating >= 4.5) else ('Низкий' if rating <= 2 else 'Средний'))
df2.sample(20)

       userId  movieId  rating   timestamp    class
94210     624     4333     3.0  1019128257  Средний
63715     458      539     4.0  1365115983  Средний
72962     509     3744     2.0   978761971   Низкий
73780     514     1282     4.0   853894039  Средний
96957     648    61323     5.0  1276451560  Высокий
6818       39      555     4.0   832525157  Средний
91525     607     1372     3.5  1118247777  Средний
6208       33     1982     4.0  1032766234  Средний
55446     401     1253     5.0   977458848  Высокий
71553     501    69122     3.0  1283138313  Средний
72934     509     3468     5.0   978936814  Высокий
210         4     1214     5.0   949810261  Высокий
40844     294     5380     4.5  1062536548  Высокий
44033     311     3751     3.5  1076969042  Средний
76522     529    25753     3.5  1285543563  Средний
52106     380    89470     4.0  1344290433  Средний
2489       15   100745     1.0  1367764695   Низкий
59404     430     3793     3.5  1172908160  Средний
8128       52    52545     4.0  1231770796  Средний
93869     624     2169     3.0  1019128468  Средний

**Задание 2** Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [165]:
df1 = pd.read_csv('keywords.csv')
df1.sample(20)

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
df1.sample(10)

def def_reg(word):
  for region, cities in geo_data.items():
    for city in cities:
            if city in word.lower():
                return region
  return 'undefined'        

df1['region'] = df1['keyword'].apply(def_reg)
df1.sample(20)

                                                 keyword  ...        region
562                        odnoklassniki ru моя страница  ...     undefined
49908                радио дача слушать онлайн бесплатно  ...     undefined
14689                                         колин ферт  ...     undefined
24189                                             дерево  ...     undefined
14051                                         зоя бербер  ...     undefined
93358                                               альт  ...     undefined
67608                 переводчик с русского на китайский  ...     undefined
21771                        фильмы 2016 скачать торрент  ...     undefined
8197                                       клэш оф кланс  ...     undefined
70767                                    смотреть дисней  ...     undefined
83638                                         самсунг с4  ...     undefined
0                                                     вк  ...     undefined
60607                                      аксон рыбинск  ...     undefined
73191                                            раванда  ...     undefined
64813                                            легавый  ...     undefined
96261                       rabota ru в санкт петербурге  ...  Северо-Запад
41719                                  пекинская капуста  ...     undefined
89632  проверить билеты русское лото по номеру билета...  ...     undefined
2554                                          вилдберрис  ...     undefined
6744                      ооо одноклассники моя страница  ...     undefined

[20 rows x 3 columns]